<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализатор страниц</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="min-vh-100 d-flex flex-column">
  <header class="flex-shrink-0"> <!--Элемент не должен сжиматься(уменьшатся в размере)-->
      <nav class="navbar navbar-expand-md bg-dark px-3" data-bs-theme="dark"> <!--Навигационная панель. Будет отображаться в гориз.виде от 768px. px гориз. внут отступы. Темная тема(так же меняет цвет текста)-->
    <a class="navbar-brand" href="/">Анализатор страниц</a>
    <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/urls">Сайты</a></li> <!--Элемент нав.панели. Стилизует ссылку-->
        </ul>
    </div>
  </nav>
  </header>

  {% if messages %}
     {% for category, message in messages %}
       <div class="alert alert-{{ category }} pt-3" role="alert">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}

  {% block content %}{% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>