{% extends "header.html" %}


{% block content %}

<main class="flex-grow-1"> <!--Элемент может занимать свободное пространство внутри flex-контейнера-->
    <div class="container-lg mt-3"> <!--Фиксированный контейнер, который будет иметь максимальную ширину на больших экранах (размеры от 992 пикселей и выше). На меньших экранах (таких, как мобильные устройства) контейнер будет занимать 100% ширины экрана. margin-top отступ сверху-->
      <h1></h1>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5"> <!--Автоматические отступы по горизонтали (margin-left и margin-right), что центрирует элемент внутри родительского контейнера. Применяет радиус закругления к границам элемента, делая углы более мягкими.-->
          <h1 class="display-3">Анализатор страниц</h1>
          <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p> <!---->
          <form action="/urls" method="post" class="d-flex justify-content-center"> <!--Позволяет элементам выстраиваться в одну строку или столбец. Центрирует элементы внутри flex-контейнера по горизонтали.-->
            <label for="text" class="visually-hidden">Url для проверки</label>
            <input type="text" id="text" name="name" placeholder="https://www.example.com" value="" class="form-control form-control-lg" required=""> <!--Применяет стили Bootstrap для элементов управления формами. Изменяет размер поля ввода на большой.-->
            <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить"> <!--Применяет стандартные стили для кнопки Bootstrap. Применяет стили главной (primary) кнопки, обычно синего цвета. Задает большой размер кнопки. (margin-start)Устанавливает отступ слева.-->
          </form>
        </div>
      </div>
    </div>
</main>

{% endblock %}